{:paths ["src/main/clojure"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        net.mikera/clojure-utils {:mvn/version "0.8.0"}
        org.imgscalr/imgscalr-lib {:mvn/version "4.2"}
        net.mikera/mathz {:mvn/version "0.3.0"}
        net.mikera/mikera-gui {:mvn/version "0.3.1"}
        net.mikera/randomz {:mvn/version "0.3.0"}
        com.jhlabs/filters {:mvn/version "2.0.235-1"}}
 :aliases
 {:test {:extra-paths ["src/test/clojure"
                       "src/test/resources"]
         :extra-deps {net.mikera/cljunit {:mvn/version "0.6.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"
                     "-d" "src/test/clojure"
                     "-r" ".*\\.test-.*"]
         :exec-fn cognitect.test-runner.api/test
         :exec-args {:dirs ["src/test/clojure"]
                     :patterns [".*\\.test-.*"]}}}}